<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACaGU05JH2QGqHWU8c2_H20eZb_MX991Y</string>
	<key>GCM_SENDER_ID</key>
	<string>359825072824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-1679a</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-1679a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359825072824:ios:90650e4bdf26d0c34b4a4d</string>
</dict>
</plist>